{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Section -->
    <section id="home" class="hero">
        <div class="hero-image">
            <img src="{% static 'images/Frye.jpg' %}" alt="Surfboard on beach">
        </div>
        <div class="hero-content">
            <h1>Surf-Centric Logistics</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'book' %}" class="cta-button">BOOK NOW!</a>
            {% else %}
                <a href="{% url 'login' %}" class="cta-button">BOOK NOW!</a>
            {% endif %}
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="about">
        <div class="container">
            <h2>Our Services</h2>
            <div class="services-section">
                <div class="service-item">
                    <img src="{% static 'images/Blanks.jpg' %}" alt="Door to Door Service" style="max-width: 200px; height: auto; margin-bottom: 1rem;">
                    <h3>DOOR TO DOOR</h3>
                    <p>Flat shipping rates by board size,<br>
                    with full tracking and insurance<br>
                    Domestic and International.</p>
                </div>
                <div class="service-item">
                    <img src="{% static 'images/airport.png' %}" alt="Airport to Airport Service" style="max-width: 200px; height: auto; margin-bottom: 1rem;">
                    <h3>AIRPORT TO AIRPORT</h3>
                    <p>Cost effective way to route boards<br>
                    to major airports worldwide</p>
                </div>
                <div class="service-item">
                    <img src="{% static 'images/Delivery.jpg' %}" alt="Local Delivery Service" style="max-width: 200px; height: auto; margin-bottom: 1rem;">
                    <h3>LOCAL DELIVERY</h3>
                    <p>California coastal route</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}